.listaItem {
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 4px;
}
.listItem > p {
  flex: 1;
}
.listaTtem--done {
  text-decoration: line-through;
}
